/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 25, 2022, 3:25:44 PM
    Author     : User
*/

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(220deg, lightblue,lightcyan);
    height: 100vh;
    overflow: hidden;
}


.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 20px;
}

.center h1{
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid gray;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .input_field{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}

.input_field input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.input_field label{
    position: absolute;
    top: 5%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 15px;
    transition: .3s;
}

.input_field span::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 0;
    height: 2px;
    background: #4ca1af;
    transition: .3s;
}

.input_field input:focus~label, input_field:valid~label{
    color: #4ca1af;
}

.input_field input:focus~span::before, input_field:valid~span::before{
    width: 100%;
}

.password{
    margin: 35px 00 5px 3px;
    color: #a6a6a6;
    cursor: pointer;
}

.password:hover{
    text-decoration: underline;
}

input[type=submit]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #4ca1af;
    border-radius: 55px;
    font-size: 25px;
    color: white;
    font-weight: 300px;
    cursor: pointer;
    outline: none;
    margin: 30px 0 30px 0;
}

input[type=submit]:hover{
    border-color: #2691d9;
    transition: .5s;
}

